@define-color background #000;
@define-color foreground #fff;
@define-color active #f0f;

* {
  font-size: 16px;
  font-family: "Iosevka NF", "sans-serif";
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: @foreground;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: @background;
}

.modules-left > *,
.modules-center > *,
.modules-right > * {
  padding: 0 8px;
}

#waybar .module {
  padding: 0 8px;
}

menu,
tooltip {
  border: 2px solid @foreground;
  background: alpha(@background, 0.8);
}

menu label,
tooltip label {
  color: @foreground;
}

#submap,
#tray>.needs-attention {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.warning {
  animation-name: blink-yellow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.critical {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 60px;
  min-height: 6px;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink-active {
  to {
    background-color: @active;
    color: @foreground;
  }
}

@keyframes blink-red {
  to {
    background-color: #c64d4f;
    color: @foreground;
  }
}

@keyframes blink-yellow {
  to {
    background-color: #cf9022;
    color: @foreground;
  }
}
